
<section class="sec-topics">
  <div class="topic">
    <h3 class="topic-ttl"><span><img src="{{ 'topics_ttl.png' | asset_img_url: 'medium' }}" srcset="{{ 'topics_ttl.png' | asset_img_url: 'original' }}" alt="TOPICS"/></span></h3>
    <ul class="topics-blk">
        {% for article in blogs.topics.articles limit: 4 %}
        <li>
          <div class="topic-img">
            <a href="{{ article.url }}">
              <div class="img">
                {%- if article.image != blank -%}
                  <img src="{{ article.image.src | image_url: width: 480 }}">
                {% else %}  
                  <img src="{{ 'placeholder.png' | asset_img_url: '480x' }}" alt="Placeholder">
                {%- endif -%}
              </div>
            </a>
          </div>
          <div class="topic-txt">
            <div class="top-row">
              <div class="date">{{ article.published_at | date: "%Y.%m.%d" }}</div>
              {%- if article.tags != blank -%}
                <div class="tag-blk">
                  {% for tag in article.tags %}
                    <div class="tag"> 
                      {{ tag }}
                    </div>
                  {% endfor %}
                </div>
              {%- endif -%}
            </div>
            <div class="ttl">
              <a href="{{ article.url }}">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </div>
            <div class="content">{{ article.content | strip_html | truncatewords: 30 }} </div>
            <a href="{{ article.url }}" class="more-btn"><span>もっと見る</span></a>
          </div>
        </li>      
      {%- endfor -%}
    </ul>
    <a href="/blogs/topics" class="all-blogs-btn">ALL TOPICS</a>
  </div>
  <!-- topic -->
</section>
{% schema %}
{
  "name": "TOPICS",
  "settings": [],
  "presets": [
  {
    "name": "TOPICS"
  }
  ] 
}
{% endschema %}


